.card{
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--yellow);
    justify-content: space-evenly;
    /* height: 250px;  */
    border: none;

}
.card .card1{
    position: relative;
    background-color: rgb(248,249,250);
    padding: 20px;
    margin-bottom: 20px;
    border-radius:.5rem;
    display:flex;
    flex-wrap: wrap;
    cursor: pointer;
    justify-content: space-between;
    width: 30%;
    
}

.card .card1 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.card .card1 div section{
    flex-direction: column;
}
.card .card1 .unmber{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color:var(--black)  ;

}
.card .card1 .namecard
 {
color:  var(--black);
font-size:1.5em ;
margin-top:5px ;
}
.card .card1 .iconBox
 {
 color:  var(--black);
font-size:2.5em ;
margin-right: 10px;
}
.card .card1:hover{
    background-color:  #031737;
}
.card .card1:hover .namecard,
.card .card1:hover .unmber,
.card .card1:hover .iconBox{
    color: white;
}
@media (max-width:800px){
    .card .card1{
   width: 100%;

   justify-content: center;
    }
    .card .card1 div{
        flex-direction: row;
        text-align: center;
    }
}
