.card{
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--yellow);
    justify-content: space-between;
    /* height: 250px;  */
    border: none;

}
.card .card1{
    position: relative;
    background: linear-gradient(-90deg,#84d9d2,#07cdae);
    color: aliceblue;
    padding: 20px;
    margin-bottom: 20px;
    border-radius:.5rem;
    display:flex;
    flex-wrap: wrap;
    cursor: pointer;
    justify-content: space-between;
    width: 30%;
    
}

.card .card1 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.card .card1 div section{
    flex-direction: column;
}
.card .card1 .unmber{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color:  aliceblue;
}
.card .card1 .namecard
 {
    color:  aliceblue;
font-size:1.5em ;
margin-top:5px ;
}
.card .card1 .iconBox
 {
 color:  aliceblue;
font-size:2.5em ;
margin-right: 10px;
}

.card .card1:hover .namecard,
.card .card1:hover .unmber,
.card .card1:hover .iconBox{
    color: white;
}
.card .Jobs,.card .Clients,.card .Sanai3y{
    /* display: none; */
}

.card .Jobs .statistic1,.card .Jobs .statistic2,.card .Jobs .statistic3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.card .Sanai3y .statistic1,.card .Sanai3y .statistic2,.card .Sanai3y .statistic3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.card .Clients .statistic1,.card .Clients .statistic2,.card .Clients .statistic3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
@media (max-width:800px){
    .card .card1{
   width: 100%;

   justify-content: center;
    }
    .card .card1 div{
        flex-direction: row;
        text-align: center;
    }
}
