@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --green:#14a800;
    --yalwo:#ffc107;
    --rmady:#777 ;
    --whait:#ffffff;
    --red:#ff0000
}
.resentOrder,
.recentcustoumer
{
    width: 100%;
    margin: 15px;
    position: relative;
    display: grid;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0,0.08);
    border-radius: 20px;
}
.cardHeadr{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
.cardHeadr h2{
    font-weight:600;
    color: var(--green);
}
.btn{
    position: relative;
    padding:5px 10px ;
    background:var(--green);
    text-decoration: none;
    border-radius: 6px;
}

 table thead td{
 
font-weight: 600;
}
 table tbody tr {
 
color: var(--glass)  ;
border-bottom: 1px solid rgba(0,0,0,0.1); 
 }
  table tbody tr:hover {
    background: var(--green);
    color: white;
 }
 .status.delivered{
  padding: 2px 4px;
  background: var(--green);
  color:white ;
  font-size: 14px;
  font-weight: 500; 
 }
 .status.pending{
    padding: 2px 4px;
    background:yellow;
    color:white ;
    font-size: 14px;
    font-weight: 500; 
   }
   .status.return{
    padding: 2px 4px;
    background:red;
    color:aliceblue ;
    font-size: 14px;
    font-weight: 500; 
   }
   .status.inprogress{
    padding: 2px 4px;
    background:blue;
    color:white ;
    font-size: 14px;
    font-weight: 500; 
   }